<a href="https://colab.research.google.com/github/anikaemo/PythonLearning/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('/content/employee_performance.csv')
df

,Agent_ID,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Site,Function_Field,tenure,Total number of calls,Assistance,Recommend,CSat,total coaching,total coaching improved,Actual Value,FCR Week before
0,384091,100.000000,90.000000,90.000000,96.145833,100.000000,96.875000,100.000000,Kuala Lumpur,Agent,33,163,95.061728,94.230769,4.865031,0,0,85.71,97.14
1,369185,94.000000,100.000000,96.865528,96.865528,96.103896,95.890411,98.333333,Kuala Lumpur,Agent,33,306,95.081967,94.666667,4.830065,0,0,100.00,88.64
2,360854,94.444444,80.000000,92.936027,92.936027,100.000000,93.939394,96.296296,Kuala Lumpur,Agent,32,138,94.160584,94.736842,4.818841,2,1,80.00,92.31
3,374407,100.000000,95.000000,96.630435,96.630435,92.500000,95.652174,100.000000,Kuala Lumpur,Agent,32,148,98.648649,95.833333,4.844595,0,0,94.44,100.00
4,372496,96.875000,95.833333,94.278101,94.278101,83.333333,95.348837,100.000000,Kuala Lumpur,Agent,29,142,97.183099,98.550725,4.859155,0,0,100.00,90.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,363616,98.148148,96.153846,97.516525,97.516525,97.826087,95.454545,100.000000,Kuala Lumpur,Agent,6,240,95.815900,93.913043,4.883333,1,1,100.00,95.24
98,382506,92.452830,93.253091,95.454545,97.560976,91.666667,93.253091,89.130435,Kuala Lumpur,Agent,6,244,93.004115,92.016807,4.852459,4,3,100.00,93.10
99,354474,95.652174,97.058824,94.317739,98.305085,89.473684,91.666667,93.750000,Kuala Lumpur,Agent,6,250,95.951417,94.628099,4.792000,0,0,90.00,89.19
100,357637,87.229437,86.666667,87.229437,92.857143,90.909091,80.000000,85.714286,Santiago,Agent,6,52,98.000000,91.836735,4.961538,4,3,93.33,85.71
101,374085,85.294118,84.744009,80.555556,84.744009,81.481481,88.888889,87.500000,Santiago,Agent,3,268,96.153846,87.162162,4.833333,9,2,83.33,85.71

In [4]:
df.shape

(102, 19)

In [5]:
print(df.head())

   Agent_ID      Friday      Monday   Saturday     Sunday    Thursday  \
0    384091  100.000000   90.000000  90.000000  96.145833  100.000000
1    369185   94.000000  100.000000  96.865528  96.865528   96.103896
2    360854   94.444444   80.000000  92.936027  92.936027  100.000000
3    374407  100.000000   95.000000  96.630435  96.630435   92.500000
4    372496   96.875000   95.833333  94.278101  94.278101   83.333333

     Tuesday   Wednesday          Site Function_Field  tenure  \
0  96.875000  100.000000  Kuala Lumpur          Agent      33
1  95.890411   98.333333  Kuala Lumpur          Agent      33
2  93.939394   96.296296  Kuala Lumpur          Agent      32
3  95.652174  100.000000  Kuala Lumpur          Agent      32
4  95.348837  100.000000  Kuala Lumpur          Agent      29

   Total number of calls  Assistance  Recommend      CSat  total coaching  \
0                    163   95.061728  94.230769  4.865031               0
1                    306   95.081967  94.666667  4.830065               0
2                    138   94.160584  94.736842  4.818841               2
3                    148   98.648649  95.833333  4.844595               0
4                    142   97.183099  98.550725  4.859155               0

   total coaching improved  Actual Value  FCR Week before
0                        0         85.71            97.14
1                        0        100.00            88.64
2                        1         80.00            92.31
3                        0         94.44           100.00
4                        0        100.00            90.91